body{
  background-color: #9ACD32;
  display: flex;
  justify-content:center;
  margin-top:5%;
  margin-bottom:5%;
}
.main{
  padding: 40px;
  width: 250px;
  background-color: #FF1493;
  border: 2px solid #000000;
}

h1{
  margin-left: 25%;
  margin-right: 25%;
}

p{
  padding: 5%;
  border: 1px solid #000000;
  border-radius: 3px;
}
