@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Lato:ital,wght@1,300&family=Raleway:wght@200&display=swap');

h1{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    color:rgb(255, 255, 255);
}

h2,h3,h4,h5,h6{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    color:rgb(0, 0, 0);
}

/*backgroung*/
body{
    background: url(https://phonoteka.org/uploads/posts/2022-04/1651148832_3-phonoteka-org-p-drein-oboi-na-telefon-krasivo-4.jpg);
    background-size:cover;
    background-attachment: fixed;
}

/*links*/
#hyperlinks {
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
    border: 5px solid rgb(0, 0, 0);
}

#hyperlinks:hover {
    background-color: rgb(0, 0, 0);
}

#hyperlinks li{
    transition: 0.5s ease-in-out;
}

#hyperlinks li:hover {
    background-color: #ae68f0;
}

#hyperlinks li.nocolor:hover{
    background-color: white;
}
    
#hyperlinks li.nocolor{
    transition: 0.5s ease-in-out;
}

/*table*/
table {
    border-collapse: collapse;
    border: 5px solid #fd0130;
}

#tt{
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #fafafa;
}

tr:nth-child(even) {
    background-color: #7a7a7a;
}

td:hover{
    background-color: #5900ff;
}

th:hover{
    background-color: #f700ff;
}

/*footer*/
#footer {
    border-top: 5px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: #8236a5;
}

form {
    background-color: #ffffff;
    border: 5px solid black;
    font-family: "Raleway", sans-serif;
}

button {
    background-color: #ffffff;
    border: 3px solid black;
    color: black;
}

button:hover {
    background-color: #ffffff;
    border: 3px solid black;
    color: black;
}

#slidelinks img{
    width: 261px;
    height: 261px;
    margin-bottom: 25px;
}